Repository PointTils/Frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, dependencies

saving work
  app/(tabs)/(profile)/edit.tsx
  app/(tabs)/(profile)/index.tsx
  src/types/api/profile.ts
  src/types/common.ts
  src/utils/masks.tsx
Labels: none

feat: create inputs with pre selection for filter
  src/components/SearchFilterBar.tsx
  src/constants/Strings.ts
Labels: none

feat: ajust name componente and create actionsheet
  src/components/FilterSheet.tsx
  src/components/SearchBar.tsx
Labels: none

feat: add InterpreterCalendar component and integrate into Interpreter
  app/(search)/interpreter.tsx
  src/components/InterpreterCalendar.tsx
Labels: none

build: lupdate lint config
  README.md
  eslint.config.js
  package-lock.json
  package.json
Labels: documentation, dependencies

build: fix expo doctor
  package-lock.json
  package.json
Labels: dependencies

saving work
  app/(auth)/index.tsx
  app/(auth)/register.tsx
  app/(tabs)/(profile)/_layout.tsx
  app/(tabs)/(profile)/edit.tsx
  app/(tabs)/(profile)/index.tsx
  app/(tabs)/_layout.tsx
  app/(tabs)/history.tsx
  app/(tabs)/index.tsx
  app/_layout.tsx
  src/components/ModalMultipleSelection.tsx
  src/components/ModalSingleSelection.tsx
  src/constants/ApiRoutes.ts
  src/constants/ItemsSelection.ts
  src/constants/Strings.ts
  src/contexts/AuthProvider.tsx
  src/hooks/useApi.ts
  src/types/api/index.ts
  src/types/api/profile.ts
  src/types/api/register.ts
  src/types/api/user.ts
  src/types/common.ts
  src/utils/helpers.tsx
  src/utils/masks.tsx
Labels: none

saving work
  app/(tabs)/(profile)/edit.tsx
  src/utils/helpers.tsx
Labels: none

feat: create actionsheet
  package-lock.json
  package.json
  src/components/FilterSheet.tsx
  src/components/SearchFilterBar.tsx
  src/utils/mask.tsx
Labels: dependencies

feat: ajust multi and single select and formating form
  app/(tabs)/index.tsx
  src/components/FilterSheet.tsx
Labels: none

componente pronto mas com a tela de visualizacao
  app/card-test.tsx
  src/components/ui/card/index.tsx
Labels: none

tirar a tela de visualizacao do card e voltar para o normal
  app/_layout.tsx
  app/card-test.tsx
Labels: none

fix: fix login integration
  src/types/api/auth.ts
Labels: none

fix: fix expo doctor
  package-lock.json
  package.json
Labels: dependencies

fix: fix expo doctor
  package-lock.json
  package.json
Labels: dependencies

fix: remove logs
  app/(tabs)/profile.tsx
Labels: none

feat: create integration for state, city and specialties for component filter
  src/components/FilterSheet.tsx
  src/components/SearchFilterBar.tsx
  src/constants/Strings.ts
  src/types/api/specialties.ts
  src/types/api/state.ts
Labels: none

feat: implement InterpreterDetails and InterpreterCalendar components with scheduling functionality
  app/(tabs)/(search)/_layout.tsx
  app/(tabs)/(search)/interpreterDetails.tsx
  app/(tabs)/_layout.tsx
  src/components/InterpreterCalendar.tsx
  src/constants/Strings.ts
  src/types/api/interpreter.ts
  src/types/api/schedule.ts
Labels: none

feat: add strings
  src/components/FilterSheet.tsx
  src/constants/Strings.ts
Labels: none

fix: fix get user info by userId
  app/(auth)/register.tsx
  app/(tabs)/(profile)/edit.tsx
  app/(tabs)/(profile)/index.tsx
  app/_layout.tsx
  src/constants/ApiRoutes.ts
  src/types/api/specialty.ts
  src/utils/helpers.tsx
Labels: none

feat: add img and file pickers
  app.json
  package-lock.json
  package.json
  src/utils/helpers.tsx
Labels: dependencies

saving work
  app/(tabs)/(profile)/edit.tsx
  src/types/common.ts
Labels: none

saving work
  app/(tabs)/(profile)/edit.tsx
Labels: none

Subindo código do Frontend para a branch feat/US12-122
  app/_layout.tsx
  app/detalhesagendamento.tsx
  app/index.tsx
Labels: none

card dinamico
  app/_layout.tsx
  app/card-test.tsx
  src/components/ui/card/index.tsx
Labels: none

Subindo alterações locais para branch feat/US12-122
  app/_layout.tsx
  app/detalhesagendamentousuario.tsx
  src/constants/Strings.ts
Labels: none

fix: fix PATCH users
  app/(tabs)/(profile)/edit.tsx
  app/(tabs)/(profile)/index.tsx
  app/_layout.tsx
  src/components/ModalMultipleSelection.tsx
  src/components/ModalSingleSelection.tsx
  src/constants/Config.ts
  src/constants/ItemsSelection.ts
  src/constants/Strings.ts
  src/types/api/index.ts
  src/types/api/specialty.ts
  src/types/api/user.ts
  src/types/common.ts
  src/utils/helpers.tsx
  src/utils/masks.tsx
Labels: none

fix: fix expo doctor
  package-lock.json
  package.json
Labels: dependencies

style: update const name
  app/(tabs)/(profile)/edit.tsx
Labels: none

feat: adiciona tela de solicitacao de agendamento
  app/appointment_solicitation.tsx
  src/constants/Strings.ts
Labels: none

atualizacao - peguei o que tinha em dev e att
  src/constants/Strings.ts
Labels: none

fix: fix UserSpecialty integration
  app/(tabs)/(profile)/edit.tsx
  src/hooks/useApi.ts
  src/types/api/specialty.ts
Labels: none

feat: finish interface ajusts and integration with interpreters using filters
  src/components/FilterSheet.tsx
  src/components/SearchFilterBar.tsx
  src/constants/ApiRoutes.ts
  src/constants/Strings.ts
  src/types/api/interpreter.ts
  src/types/search-filter-bar.ts
Labels: none

fix: package-lock
  package-lock.json
Labels: dependencies

feat: adiciona telas de detalhes de agendamento (US12-122)
  app/detalhesagendamento.tsx
  app/detalhesagendamentousuario.tsx
  src/constants/Strings.ts
Labels: none

fix: dependency and lint code
  package-lock.json
  package.json
  src/components/FilterSheet.tsx
  src/components/SearchFilterBar.tsx
Labels: dependencies

fix: ajust format code
  package.json
  src/components/SearchFilterBar.tsx
  src/constants/Strings.ts
  src/types/api/interpreter.ts
  src/types/api/specialties.ts
  src/types/api/state.ts
  src/types/search-filter-bar.ts
  src/utils/masks.tsx
Labels: dependencies

chore: fix lint and formatting issues
  app/detalhesagendamento.tsx
  app/detalhesagendamentousuario.tsx
  src/constants/Strings.ts
Labels: none

saving work
  app/(tabs)/(profile)/index.tsx
  app/_layout.tsx
  app/appointment_solicitation.tsx
  app/interpreters/[id]/_layout.tsx
  app/interpreters/[id]/index.tsx
  app/interpreters/[id]/to-schedule.tsx
  app/interpreters/_layout.tsx
  app/interpreters/search.tsx
  src/constants/Strings.ts
Labels: none

style: fix Card style (using strings and colors)
  app/(tabs)/index.tsx
  app/card-test.tsx
  src/components/ui/card/index.tsx
  src/constants/Colors.ts
  src/constants/Strings.ts
Labels: none

.github/labeler.yml:

# Labels based on file changes
documentation:
  - changed-files:
      - any-glob-to-any-file: ['*.md', '*.rst', 'docs/**']

ci/cd:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

dependencies:
  - changed-files:
      - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Labels based on branch names
feature:
  - head-branch: ['^feat/', 'feat']

bugfix:
  - head-branch: ['^fix/', 'fix']
