Repository PointTils/Frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, dependencies

.github/labeler.yml:

# Labels based on file changes
documentation:
  - changed-files:
      - any-glob-to-any-file: ['*.md', '*.rst', 'docs/**']

ci/cd:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

dependencies:
  - changed-files:
      - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Labels based on branch names
feature:
  - head-branch: ['^feat/', 'feat']

bugfix:
  - head-branch: ['^fix/', 'fix']

chore: created constants for api integration and string constants
  src/constants/ApiRoutes.ts
  src/constants/Strings.ts
Labels: none

chore: created appointment request builder to build request body
  src/utils/helpers.tsx
Labels: none

feat: created api integration for appointment creation
  app/interpreters/[id]/to-schedule.tsx
Labels: none

mudar o builder
  .env.example
  app/(tabs)/to-schedule.tsx
  src/utils/helpers.tsx
Labels: none

Feat: Termindo fetch de dados, validações necessárias e adicionando outros textos. Agora falta a parte da view e fazer testar
  app/detalhesagendamento.tsx
  src/constants/Strings.ts
Labels: none

refactor: remove mock interpreter data and update API response handling
  app/(tabs)/(search)/interpreterDetails.tsx
  app/interpreters/[id]/index.tsx
  src/types/api/schedule.ts
Labels: none

feat: create screen for search interpreters
  app/interpreters/search.tsx
  src/components/SearchFilterBar.tsx
  src/constants/Strings.ts
  src/types/api/user.ts
Labels: none

fix: ajust on user response to be a list and probably ajust for over search
  src/components/SearchFilterBar.tsx
  src/types/api/user.ts
Labels: none

integracao mas com problema no front
  app/(tabs)/to-schedule.tsx
  src/utils/helpers.tsx
Labels: none

voltar pras tabs padrao
  app/interpreters/[id]/to-schedule.tsx
Labels: none

voltar ao normal pro pr e resolver horario
  app/interpreters/[id]/to-schedule.tsx
Labels: none

feat: ajust interface separation
  app/interpreters/search.tsx
Labels: none

fix: ajust expo doctor for pipe
  package-lock.json
  package.json
  src/components/SearchFilterBar.tsx
Labels: dependencies

add env
  app/(tabs)/index.tsx
Labels: none

fix: ajust for pipe
  app/interpreters/search.tsx
  src/components/SearchFilterBar.tsx
  src/constants/Strings.ts
Labels: none

add env log
  app/(auth)/index.tsx
Labels: none

fix: fix eas config and update expo doctor
  eas.json
  package-lock.json
  package.json
Labels: dependencies

fix: doctor expo
  app/interpreters/search.tsx
  package-lock.json
  package.json
Labels: dependencies

fix: add usesCleartextTraffic for http
  app.json
Labels: none

fix: format package
  package.json
Labels: dependencies

fix(build): add expo-build-properties
  app.json
  package-lock.json
  package.json
Labels: dependencies

fix: remove unnecessary changes
  app/(auth)/index.tsx
  app/(tabs)/index.tsx
Labels: none

fix(build): fix deps analysis
  .github/copilot-instructions.md
  .github/workflows/pr_checks.yml
  depcheck.config.js
  package-lock.json
  package.json
Labels: ci/cd, dependencies

Corrige envio de valor minimo da faixa de precos do interprete
  src/utils/helpers.tsx
Labels: none

saving work
  app/(auth)/register.tsx
  app/(tabs)/(profile)/edit.tsx
  app/(tabs)/(profile)/index.tsx
  src/constants/ApiRoutes.ts
  src/hooks/useApi.ts
  src/utils/helpers.tsx
Labels: none

fix: fix min_value range and card params
  app/(tabs)/appointments/index.tsx
  app/interpreters/search.tsx
  src/components/SearchFilterBar.tsx
  src/types/api/user.ts
  src/utils/helpers.tsx
Labels: none

fix: fix type check
  app/(tabs)/(profile)/edit.tsx
Labels: none

Update HomeScreen by adding SearchFilterBar
  app/(tabs)/index.tsx
Labels: none

saving work
  app/(tabs)/(profile)/index.tsx
  app/interpreters/[id]/index.tsx
  app/interpreters/[id]/to-schedule.tsx
  app/requests/index.tsx
  src/constants/Strings.ts
  src/types/api/appointment.ts
  src/utils/helpers.tsx
Labels: none

saving work: genaral adjusments
  app/(tabs)/(profile)/edit.tsx
  app/(tabs)/(profile)/index.tsx
  app/(tabs)/(search)/_layout.tsx
  app/(tabs)/_layout.tsx
  app/(tabs)/appointments/[id].tsx
  app/(tabs)/appointments/index.tsx
  app/(tabs)/index.tsx
  app/interpreters/[id]/index.tsx
  app/interpreters/[id]/to-schedule.tsx
  app/interpreters/search.tsx
  app/requests/index.tsx
  src/components/FilterSheet.tsx
  src/components/InterpreterCalendar.tsx
  src/components/Rating.tsx
  src/components/SearchFilterBar.tsx
  src/constants/ApiRoutes.ts
  src/constants/Config.ts
  src/types/api/auth.ts
  src/types/api/interpreter.ts
  src/utils/helpers.tsx
Labels: none

fix: fix Strings and toasts
  app/(auth)/index.tsx
  app/(auth)/register.tsx
  app/(tabs)/(profile)/edit.tsx
  app/(tabs)/(profile)/index.tsx
  app/(tabs)/appointments/index.tsx
  app/(tabs)/index.tsx
  app/interpreters/[id]/index.tsx
  app/interpreters/[id]/to-schedule.tsx
  app/interpreters/search.tsx
  app/requests/index.tsx
  src/components/FilterSheet.tsx
  src/components/SearchFilterBar.tsx
  src/constants/Strings.ts
Labels: none

fix: disabled images upload
  src/constants/Config.ts
Labels: none

fix: remove unnecessary types
  src/types/api/interpreter.ts
Labels: none

style: fix comments - english only
  app/interpreters/[id]/index.tsx
  src/components/FilterSheet.tsx
  src/components/Header.tsx
  src/components/InterpreterCalendar.tsx
  src/components/ModalMultipleSelection.tsx
  src/components/ModalSingleSelection.tsx
  src/components/Rating.tsx
  src/components/SearchFilterBar.tsx
  src/constants/Strings.ts
Labels: none

fix: fix lint
  src/components/InterpreterCalendar.tsx
Labels: none

fix: fix typo
  src/components/Header.tsx
Labels: none
