Repository PointTils/Frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, dependencies

.github/labeler.yml:

# Labels based on file changes
documentation:
  - changed-files:
      - any-glob-to-any-file: ['*.md', '*.rst', 'docs/**']

ci/cd:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

dependencies:
  - changed-files:
      - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Labels based on branch names
feature:
  - head-branch: ['^feat/', 'feat']

bugfix:
  - head-branch: ['^fix/', 'fix']

integration
  app/(auth)/register.tsx
  src/api/enterprise.ts
  src/types/api.ts
Labels: none

refac: add logs
  app/(auth)/register.tsx
  src/api/index.ts
Labels: none

testing expo-file-system fix
  package-lock.json
  package.json
Labels: dependencies

fix: override dep and add expo-metro
  package-lock.json
  package.json
Labels: dependencies

feat: create input for search on SearchBar component
  app/(tabs)/index.tsx
  package-lock.json
  package.json
  src/components/SearchBar.tsx
Labels: dependencies

fix(deps): update deps and fix expo-file-system version
  package-lock.json
  package.json
Labels: dependencies

fix: start GET user integration and fix screen style
  app/(tabs)/profile.tsx
  app/_layout.tsx
  src/constants/Colors.ts
  src/constants/Strings.ts
  src/contexts/AuthProvider.tsx
  src/types/api.ts
  src/utils/mask.tsx
  src/utils/temp.tsx
  tailwind.config.js
Labels: none

feat: remove old logo
  src/assets/images/apk-logo.png
Labels: none

feat: add new APK logo
  src/assets/images/apk-logo.png
Labels: none

docs: update docs and change log
  .github/pull_request_template.md
  .github/workflows/nightly_build.yml
  README.md
Labels: documentation, ci/cd

feat: add interpreter profile page and star rating component
  app/(search)/_layout.tsx
  app/(search)/interpreter.tsx
  src/components/Rating.tsx
  src/constants/Strings.ts
Labels: none

fix: refactor api types and constants
  app/(tabs)/profile.tsx
  src/components/Header.tsx
  src/constants/ApiRoutes.ts
  src/constants/Auth.ts
  src/constants/StorageKeys.ts
  src/constants/Theme.ts
  src/contexts/AuthProvider.tsx
  src/hooks/useApi.ts
  src/types/api.ts
  src/types/api/auth.ts
  src/types/api/index.ts
  src/types/api/profile.ts
  src/types/api/register.ts
  src/types/ui.ts
Labels: none

feat(US12-122): adiciona tela de detalhes de agendamento e ajustes em Strings e tipos
  app/detalhesagendamento.tsx
  src/constants/Strings.ts
  src/types/api.ts
Labels: none

feat: update useFormValidation to use a context
  src/hooks/useFormValidation.ts
Labels: none

feat: add validadePhone function
  src/utils/mask.tsx
Labels: none

fix: update strings
  src/constants/Strings.ts
Labels: none

fix: update strings
  app/(auth)/index.tsx
Labels: none

fix: remove select
  package-lock.json
  package.json
Labels: dependencies

fix: remove select files
  src/components/ui/select/index.tsx
  src/components/ui/select/select-actionsheet.tsx
Labels: none

fix: remove unnecessary files
  src/components/utils/mask.tsx
  src/utils/mask.tsx
  src/utils/temp.tsx
Labels: none

build: update deps
  package-lock.json
  package.json
Labels: dependencies

fix: update utils and constants
  src/constants/Colors.ts
  src/constants/Strings.ts
  src/utils/masks.tsx
Labels: none

fix: fix lint
  app/(auth)/index.tsx
  app/(tabs)/profile.tsx
  src/contexts/AuthProvider.tsx
Labels: none

fix: add new modal select components
  src/components/ModalMultipleSelection.tsx
  src/components/ModalSingleSelection.tsx
  src/components/MultiSelect.tsx
Labels: none

fix: fix lint and imports
  src/contexts/AuthProvider.tsx
  src/types/ui.ts
Labels: none

fix: update screen stryle and add integration
  app/(auth)/register.tsx
Labels: none

doc: add components docs
  src/components/HapticTab.tsx
  src/components/Header.tsx
  src/components/ModalMultipleSelection.tsx
  src/components/ModalSingleSelection.tsx
Labels: none

build: fix expo doctor
  package-lock.json
  package.json
Labels: dependencies

style && doc: update style and screen docs
  app/(auth)/index.tsx
  app/(auth)/register.tsx
  app/(tabs)/profile.tsx
  src/constants/Strings.ts
  src/utils/masks.tsx
Labels: none

fix: fix pipeline
  src/components/ModalMultipleSelection.tsx
  src/components/ModalSingleSelection.tsx
Labels: none

fix: fix Gender typing
  src/types/api/profile.ts
  src/utils/masks.tsx
Labels: none

fix: add route
  app/(tabs)/(profile)/index.tsx
Labels: none

fix: update route
  app/(tabs)/(profile)/edit.tsx
Labels: none

feat: minhas alterações na US12-122
  app/detalhesagendamento.tsx
Labels: none

style: changes in filtered interpreter profile
  app/(search)/interpreter.tsx
Labels: none

base do card
  app/(tabs)/index.tsx
  app/_layout.tsx
  app/card-test.tsx
  src/components/ui/card/index.tsx
Labels: none

fix: fix snake_case pattern
  src/types/api/auth.ts
Labels: none

saving work
  app/(auth)/register.tsx
  app/(tabs)/(profile)/_layout.tsx
  app/(tabs)/(profile)/edit.tsx
  app/(tabs)/(profile)/index.tsx
  app/(tabs)/_layout.tsx
  src/components/ui/gluestack-ui-provider/index.tsx
  src/constants/Config.ts
  src/constants/Strings.ts
  src/constants/Theme.ts
  src/contexts/ThemeProvider.tsx
  src/types/api/profile.ts
  src/types/common.ts
  src/utils/masks.tsx
Labels: none

fix: fix UserTypes and update references
  app/(auth)/register.tsx
  app/(tabs)/profile.tsx
  app/onboarding.tsx
  src/assets/svgs/OnboardingPerson.tsx
  src/constants/ApiRoutes.ts
  src/constants/Strings.ts
  src/types/api/auth.ts
  src/types/api/profile.ts
  src/types/api/register.ts
  src/types/common.ts
  src/utils/masks.tsx
Labels: none

fix: fix imports
  app/(auth)/register.tsx
Labels: none
