Repository PointTils/Frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, dependencies

.github/labeler.yml:

# Labels based on file changes
documentation:
  - changed-files:
      - any-glob-to-any-file: ['*.md', '*.rst', 'docs/**']

ci/cd:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

dependencies:
  - changed-files:
      - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Labels based on branch names
feature:
  - head-branch: ['^feat/', 'feat']

bugfix:
  - head-branch: ['^fix/', 'fix']

Adicionando nova cor para que as fontes permaneçam brancas
  src/constants/Colors.ts
Labels: none

Arrumando o prettier
  src/constants/Colors.ts
Labels: none

ajustes onboarding e fontes customizadas
  app/Onboarding.tsx
  src/assets/svgs/OnBoardingCompany.tsx
  src/constants/Strings.ts
Labels: none

fix: format code with prettier
  app/Onboarding.rar
  app/Onboarding.tsx
  src/assets/svgs/OnBoardingCompany.tsx
  src/constants/Strings.zip
Labels: none

ci: compare changelog against previous tag instead of latest
  .github/workflows/nightly_build.yml
Labels: ci/cd

fix: ajust from pr on string, colors and button type
  app/(auth)/register.tsx
  package-lock.json
  package.json
  src/components/ui/radio/index.tsx
Labels: dependencies

fix: fix tag version
  .github/workflows/nightly_build.yml
Labels: ci/cd

fix(ci): fix get tags
  .github/workflows/nightly_build.yml
Labels: ci/cd

fix(ci): compare latest tag with HEAD
  .github/workflows/nightly_build.yml
Labels: ci/cd

fix(ci): add only PRs
  .github/workflows/nightly_build.yml
Labels: ci/cd

fix: ajustando detalhes apontados pela Bianca para agilizar tela
  app/Onboarding.rar
  app/Onboarding.tsx
  src/assets/svgs/LightOrangeLogo.tsx
  src/assets/svgs/OnBoardingCompany.tsx
  src/assets/svgs/OnboardingTil.tsx
  src/constants/Strings.zip
  src/types/ui.ts
Labels: none

tela de perfil
  app/(tabs)/profile.tsx
Labels: none

saving work
  .github/workflows/nightly_build.yml
Labels: ci/cd

fix: ajust imports from radio button on gluestack
  src/components/ui/radio/index.tsx
Labels: none

feat: add radio button from gluestack component
  app/(auth)/register.tsx
Labels: none

fix: ajust lint and format code for action run
  app/(auth)/register.tsx
  package.json
  src/components/ui/radio/index.tsx
  src/constants/Strings.ts
  src/utils/mask.ts
Labels: dependencies

chore: add show current branch
  .github/workflows/nightly_build.yml
Labels: ci/cd

fix: Atualização das fontes e tag botão
  app/Onboarding.tsx
Labels: none

fix: ajust mask extension
  src/utils/mask.tsx
Labels: none

fix: add commitish
  .github/workflows/nightly_build.yml
Labels: ci/cd

feat: add GitHub user
  .github/workflows/nightly_build.yml
Labels: ci/cd

feat: Profile edition page for every type of user, still missing some components, button functions and form verification.
  app/(tabs)/profile.tsx
  app/(tabs)/profile/edit.tsx
Labels: none

fix: Adding missing string values
  src/constants/Strings.ts
Labels: none

fix: delete to fix filename
  app/Onboarding.tsx
Labels: none

fix: filename
  app/onboarding.tsx
Labels: none

feat: add onboarding route
  app/_layout.tsx
Labels: none

fix: button position and user type condition
  app/onboarding.tsx
Labels: none

fix: svg props typing
  app/onboarding.tsx
  src/assets/svgs/LightOrangeLogo.tsx
  src/assets/svgs/OnBoardingCompany.tsx
  src/assets/svgs/OnboardingTil.tsx
  src/assets/svgs/OnboardingUser.tsx
  src/types/ui.ts
Labels: none

fix(lint): reorder imports
  src/assets/svgs/LightOrangeLogo.tsx
  src/assets/svgs/OnboardingUser.tsx
Labels: none

feat: Header return button and cancel button going back to profile page, comments on the code, changes in the page structure
  app/(profile)/_layout.tsx
  app/(profile)/edit.tsx
  src/constants/Strings.ts
Labels: none

feat: add header component
  src/components/Header.tsx
Labels: none

update readme
  README.md
Labels: documentation

Update note about Expo Go credentials
  README.md
Labels: documentation

fix: Added missing component
  app/(tabs)/profile/edit.tsx
  src/components/ui/textarea/index.tsx
Labels: none

feat: create interpreter form interface with masks and validation
  app/(auth)/register.tsx
  package-lock.json
  package.json
  src/constants/Strings.ts
  src/utils/mask.tsx
Labels: dependencies

testing
  app.json
  app/_layout.tsx
  app/splash.tsx
  package-lock.json
  package.json
  src/assets/images/apk-logo.png
  src/assets/images/partial-react-logo.png
  src/assets/images/react-logo.png
  src/assets/images/react-logo@2x.png
  src/assets/images/react-logo@3x.png
Labels: dependencies

feat: add Header component
  src/components/Header.tsx
Labels: none

feat: enhance profile editing screen with new input fields and update routing; add new utility functions for date handling
  app/(profile)/edit.tsx
  app/(tabs)/profile.tsx
  package.json
  src/components/ui/textarea/index.tsx
  src/constants/Strings.ts
  src/utils/mask.tsx
Labels: dependencies

componentizar alguns componentes da tela de perfil
  app/(tabs)/profile.tsx
  package-lock.json
  package.json
  src/components/ui/avatar/avatar-fallback-text.tsx
  src/components/ui/avatar/avatar-image.tsx
  src/components/ui/avatar/index.tsx
  src/components/ui/avatar/styles.ts
  src/components/ui/avatar/styles.tsx
  src/components/ui/chip/index.tsx
  src/components/ui/chipSection/index.tsx
  src/components/ui/infoRow/index.tsx
  src/components/utils/mask.tsx
  src/types/api.ts
Labels: dependencies

adicionar comentarios para pr
  src/components/ui/chip/index.tsx
  src/components/ui/chipSection/index.tsx
  src/components/ui/infoRow/index.tsx
Labels: none
