Repository PointTils/Frontend, pull requests merged in 2025-08, with the labels that each got.

#2 Testing
  README.md
Labels: documentation

#3 sync main and dev
  README.md
Labels: documentation

#4 axios Added and structure reorganized
  README.md
  app.json
  app/(tabs)/_layout.tsx
  app/(tabs)/index.tsx
  app/(tabs)/new-appointment.tsx
  app/(tabs)/profile.tsx
  app/_layout.tsx
  eslint.config.js
  gluestack-ui.config.json
  package-lock.json
  package.json
  src/api/index.ts
  src/assets/fonts/SpaceMono-Regular.ttf
  src/assets/images/adaptive-icon.png
  src/assets/images/favicon.png
  src/assets/images/icon.png
  src/assets/images/partial-react-logo.png
  src/assets/images/react-logo.png
  src/assets/images/react-logo@2x.png
  src/assets/images/react-logo@3x.png
  src/assets/images/splash-icon.png
  src/components/HapticTab.tsx
  src/components/ui/gluestack-ui-provider/config.ts
  src/components/ui/gluestack-ui-provider/index.tsx
  src/components/ui/text/index.tsx
  src/components/ui/text/index.web.tsx
  src/components/ui/text/styles.tsx
  src/components/ui/view/index.tsx
  src/constants/Colors.ts
  src/constants/Strings.ts
  src/contexts/ThemeProvider.tsx
  src/hooks/useApi.ts
  src/hooks/useColors.ts
  src/types/api.ts
  src/types/empty-module.ts
  tailwind.config.js
  tsconfig.json
Labels: documentation, dependencies

#5 async dev and main
  README.md
  app.json
  app/(tabs)/_layout.tsx
  app/(tabs)/index.tsx
  app/(tabs)/new-appointment.tsx
  app/(tabs)/profile.tsx
  app/_layout.tsx
  eslint.config.js
  gluestack-ui.config.json
  package-lock.json
  package.json
  src/api/index.ts
  src/assets/fonts/SpaceMono-Regular.ttf
  src/assets/images/adaptive-icon.png
  src/assets/images/favicon.png
  src/assets/images/icon.png
  src/assets/images/partial-react-logo.png
  src/assets/images/react-logo.png
  src/assets/images/react-logo@2x.png
  src/assets/images/react-logo@3x.png
  src/assets/images/splash-icon.png
  src/components/HapticTab.tsx
  src/components/ui/gluestack-ui-provider/config.ts
  src/components/ui/gluestack-ui-provider/index.tsx
  src/components/ui/text/index.tsx
  src/components/ui/text/index.web.tsx
  src/components/ui/text/styles.tsx
  src/components/ui/view/index.tsx
  src/constants/Colors.ts
  src/constants/Strings.ts
  src/contexts/ThemeProvider.tsx
  src/hooks/useApi.ts
  src/hooks/useColors.ts
  src/types/api.ts
  src/types/empty-module.ts
  tailwind.config.js
  tsconfig.json
Labels: documentation, dependencies

#7 async main and dev
  .github/copilot-instructions.md
  app/(tabs)/_layout.tsx
  app/(tabs)/history.tsx
  app/(tabs)/index.tsx
  app/(tabs)/profile.tsx
  app/_layout.tsx
  src/assets/fonts/SpaceMono-Regular.ttf
  src/assets/fonts/iFoodRCTextos-Bold.ttf
  src/assets/fonts/iFoodRCTextos-ExtraBold.ttf
  src/assets/fonts/iFoodRCTextos-Light.ttf
  src/assets/fonts/iFoodRCTextos-Medium.ttf
  src/assets/fonts/iFoodRCTextos-Regular.ttf
  src/assets/fonts/iFoodRCTextos-Thin.ttf
  src/constants/Strings.ts
  tailwind.config.js
Labels: ci/cd

#9 ci(nightly build): fix scheduler triggered workflow
  .github/workflows/nightly_build.yml
Labels: bugfix, ci/cd

#10 async dev and main
  .github/workflows/nightly_build.yml
Labels: ci/cd

#11 Fix/env vars
  .env.example
  .gitignore
  README.md
Labels: bugfix, documentation

#12 async dev and main
  .env.example
  .gitignore
  README.md
Labels: documentation

#15 add pr notifications and update nightly build
  .github/workflows/nightly_build.yml
  .github/workflows/pr_notification.yml
Labels: feature, ci/cd

#16 async dev and main
  .github/workflows/nightly_build.yml
  .github/workflows/pr_notification.yml
Labels: ci/cd

#59 Fix/theming
  .github/workflows/nightly_build.yml
  README.md
  app/(tabs)/_layout.tsx
  package-lock.json
  package.json
  src/components/ui/gluestack-ui-provider/config.ts
  src/constants/Colors.ts
  src/constants/Theme.ts
  src/contexts/ThemeProvider.tsx
Labels: bugfix, documentation, ci/cd, dependencies

#60 async dev and main
  .github/workflows/nightly_build.yml
  README.md
  app/(tabs)/_layout.tsx
  package-lock.json
  package.json
  src/components/ui/gluestack-ui-provider/config.ts
  src/constants/Colors.ts
  src/constants/Theme.ts
  src/contexts/ThemeProvider.tsx
Labels: documentation, ci/cd, dependencies

#61 [NO ISSUE NUMBER] Feat/add pr template
  .github/pull_request_template.md
Labels: feature, ci/cd

#62 async dev and main
  .github/pull_request_template.md
Labels: ci/cd

#89 docs: update CODEOWNERS and PR template configuration
  .github/CODEOWNERS
  .github/pull_request_template.md
Labels: bugfix, ci/cd

#91 [us03-83] Tela de login
  app/(auth)/index.tsx
  package-lock.json
  package.json
  src/assets/svgs/DarkBlueLogo.tsx
  src/components/ui/alert-dialog/index.tsx
  src/components/ui/button/index.tsx
  src/components/ui/form-control/index.tsx
  src/components/ui/gluestack-ui-provider/index.tsx
  src/components/ui/input/index.tsx
  src/constants/Colors.ts
  src/constants/Strings.ts
  src/types/ui.ts
  tailwind.config.js
Labels: feature, dependencies

#102 Feat/us01 53
  .vscode/settings.json
  package-lock.json
  src/components/MultiSelect.tsx
Labels: feature, resolve comments, dependencies, build failed
