Repository PointTils/Frontend, pull requests merged in 2025-10, with the labels that each got.

#166 Us08 151
  package-lock.json
  package.json
  src/components/FilterSheet.tsx
  src/components/SearchFilterBar.tsx
  src/constants/ApiRoutes.ts
  src/constants/Strings.ts
  src/types/ui.ts
  src/utils/masks.tsx
Labels: dependencies

#174 fix: ajust on user response to be a list and probably ajust for over …
  package-lock.json
  package.json
  src/components/SearchFilterBar.tsx
  src/types/api/user.ts
Labels: bugfix, dependencies

#181 [Feat/integrations] Integrations Sprint 2
  app/(auth)/index.tsx
  app/(auth)/register.tsx
  app/(tabs)/(profile)/edit.tsx
  app/(tabs)/(profile)/index.tsx
  app/(tabs)/_layout.tsx
  app/(tabs)/appointments/[id].tsx
  app/(tabs)/appointments/index.tsx
  app/(tabs)/index.tsx
  app/interpreters/[id]/index.tsx
  app/interpreters/[id]/to-schedule.tsx
  app/interpreters/search.tsx
  app/requests/index.tsx
  src/components/FilterSheet.tsx
  src/components/Header.tsx
  src/components/InterpreterCalendar.tsx
  src/components/ModalMultipleSelection.tsx
  src/components/ModalSingleSelection.tsx
  src/components/Rating.tsx
  src/components/SearchFilterBar.tsx
  src/components/ui/card/index.tsx
  src/constants/ApiRoutes.ts
  src/constants/Config.ts
  src/constants/Strings.ts
  src/types/api/appointment.ts
  src/types/api/auth.ts
  src/types/api/schedule.ts
  src/utils/helpers.tsx
Labels: feature
