Repository PointTils/Frontend, pull requests merged in 2025-09, with the labels that each got.

#109 Fix change log report
  .github/workflows/nightly_build.yml
Labels: bugfix, ci/cd, hotfix

#137 ci: compare changelog against previous tag instead of latest
  .github/workflows/nightly_build.yml
Labels: bugfix, ci/cd, hotfix

#136 Feat/us03 84
  app/_layout.tsx
  app/onboarding.tsx
  src/assets/svgs/LightOrangeLogo.tsx
  src/assets/svgs/OnBoardingCompany.tsx
  src/assets/svgs/OnboardingTil.tsx
  src/assets/svgs/OnboardingUser.tsx
  src/constants/Colors.ts
  src/constants/Strings.ts
  src/types/ui.ts
Labels: feature

#142 [feat/us01-54] Header component
  src/components/Header.tsx
Labels: feature

#157 Fix snake_case pattern
  src/types/api/auth.ts
Labels: bugfix

#162 [Fix/sprint1-fixes] Update interface fields - login integration
  app/(tabs)/profile.tsx
  package-lock.json
  package.json
  src/types/api/auth.ts
Labels: bugfix, dependencies

#165 [Fix/sprint1-fixes] Fix UserSpecialty integration
  app/(tabs)/(profile)/edit.tsx
  src/hooks/useApi.ts
  src/types/api/specialty.ts
Labels: bugfix

#168 Feat/us10 116
  app/(auth)/register.tsx
  app/(tabs)/(profile)/edit.tsx
  app/(tabs)/(profile)/index.tsx
  app/_layout.tsx
  app/interpreters/[id]/_layout.tsx
  app/interpreters/[id]/index.tsx
  app/interpreters/[id]/to-schedule.tsx
  app/interpreters/_layout.tsx
  app/interpreters/search.tsx
  src/constants/Strings.ts
  src/utils/masks.tsx
Labels: feature
